.output {
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  width: 80%;
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

button {
  margin-top: 40px;
  width: 100px;
}
